:root{
	--tutor-color-primary: #34A606;
  --plyr-color-main:#4cdf16b3;
}
.home .c-learn_inner ul li a:not(.tag_a)::after, .bg_white .c-learn_inner ul li a:not(.tag_a)::after{
  top: 7px;
}
.tutor-course-details-widget{
  margin-top: 2rem;
}
.bg_white{
  background-color: white !important;
}
.c-learn_inner ul{
  justify-content: center !important;
}
.tutor-course-single-content-wrapper .tutor-course-single-sidebar-title {
  height: 30px;
}
.tutor-course-single-sidebar-wrapper .tutor-course-topic-item a {
  width: auto;
}
.tutor-course-single-content-wrapper #tutor-single-entry-content .tutor-course-topic-single-header {
  height: 31px;
}
.tutor-alert-warning li{
  color: red;
}
.c-learn {
  background-color: unset;
}
.c-learn.blog {
  margin: 0 !important;
  padding: 3rem 0;
  background-color: white !important;
}
.tutor-topbar-mark-btn {
  display: none;
}
.single-post h1{
  color: #34A606;
}
.block_flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.block_flex img{
  width: 394px;
}
.block_flex .content{
  width: calc(100% - 420px);
  line-height: 1.7;
  font-weight: 400;
}
.c-content h2, .c-content h3, .c-content h4{
  text-align: left !important;
}
.c-content a{
  color: #34A606;
}
.c-content p{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}
#ez-toc-container{
    background: unset;
    border: 0;
    box-shadow: unset
}
#ez-toc-container a, #ez-toc-container a:visited{
  color: #34A606;
  font-size: 1.5rem;
  line-height: 1.7;
}
figcaption{
  padding: 10px;
  color: #50575e;
  font-size: 1.6rem;
  font-style: italic;
}
#ez-toc-container.counter-decimal ul.ez-toc-list li a::before, .ez-toc-widget-container.counter-decimal ul.ez-toc-list li a::before {
  content: url(./assets/images/up-next.svg);
  transform: scale(.8) translateY(6px);
  margin-right: 8px;
}
.ez-toc-heading-level-3 a::before{
  content: url(./assets/images/dot.svg) !important;
  transform: scale(1.5) translateY(3px) !important;
}
.c-detail blockquote{
  border-top: 2px solid #34a606;
  padding:10px 0 20px;
  position: relative;
}
.c-detail blockquote p{
  font-size: 2rem;
  font-style: italic;
}
.c-detail blockquote cite{
  font-size: 1.7rem;
  font-style: italic;
}
.c-detail blockquote::after{
  content : "";
  position: absolute;
  left: 20%;
  right: 20%;
  bottom  : 0;
  height  : 1px;
  width   : 50%;
  margin: 0 auto;
  border-top: 2px solid #34a606;
}
.c-detail ul li{
  line-height: 1.8;
  font-weight: 400;
}
.c-detail ul{
  margin-left: 1.5rem;
}
.c-detail ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #34a606; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1.2em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.tutor-btn-md {
  padding: 6px 6px;
}
.tutor-card-footer {
  padding: 16px 10px;
}
.woocommerce-Price-amount{
  font-size: 1.7rem;
  color: #34a606;
}
.tutor-dashboard #tutor-dashboard-footer-mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .block_flex .content{
    width: 100%;
    margin: 2rem 0;
  }
  .tutor-table{
    min-width: unset;
  }
  .woocommerce .coupon_box button.button {
    font-size: 1.4rem;
    padding: 15px 10px;
}
}
@media only screen and (min-width: 768px) {
  .c-learn_inner ul.courses-list li{
    width: calc(33.3% - 40px);
    margin: 20px 20px 30px;
  }
  .tutor-course-single-content-wrapper {
    overflow: hidden !important;
  }
}
