:root {
  --tutor-color-primary: #34A606;
}
.tutor-wrap{
  margin: 3rem auto;
}
.tutor-fs-7 {
  font-size: 1.3rem;
}
.tutor-fs-6{
  font-size: 1.2rem;
}
#tutor-single-entry-content .tutor-single-page-top-bar{
  display: none !important;
}
.m-cart{
  position: relative;
  display: none;
}
.m-cart.js-active{
  display: block;
}
.c-header .m-cart a{
  color: #34A606;
}
.m-cart .widget_shopping_cart_content{
  position: absolute;
  top: 17px;
  width: 300px;
  right: 0;
  padding: 15px;
  background-color: #eff1f7;
  z-index: 10;
  color: #34A606;
}
.m-cart  .woocommerce-mini-cart__empty-message{
  color: var(--tutor-color-primary);
}
.m-cart  .size-woocommerce_thumbnail, .woocommerce-placeholder{
  width: 70px;
  height: auto;
  font-size: 1.3rem;
  padding-right: 1rem;
}
.m-cart  .woocommerce-mini-cart__buttons{
  display: flex;
  justify-content: space-between;
}
.m-cart  .c-header .woocommerce-mini-cart__buttons a{
  background-color: #34A606;
  color: #ffff;
  padding: 5px 10px 5px;
  font-size: 1.4rem;
}
.m-cart  .woocommerce-mini-cart__total{
  margin: 2rem 0;
  font-size: 1.5rem;
}
.m-cart .woocommerce-mini-cart-item{
  font-size: 1.4rem;
  margin: 10px 0;
}
.nav-menu_item__card{
  position: relative;
}
.m-cart_num{
  position: absolute;
  z-index: 5;
  background-color: red;
  color: #ffff;
  font-size: 1.1rem;
  padding: 2px 5px;
  border-radius: 50%;
  right: -6px;
}
.m-cart .woocommerce-mini-cart-item img{
  float: left !important;
}