/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
.c-btn{
	&_ebook{
		display: block;
		max-width: 370px;
		margin: 3rem auto 2rem;
		background-color: $color-main;
		color: white;
		text-decoration: none;
		padding: 8px 30px;
		font-weight: 700;
		font-size: 2rem;
		border-radius: 20px;
		transition: all 0.3s;
			&:hover{
				background: linear-gradient(269.85deg, #34A606 0.91%, rgba(52, 166, 6, 0.873744) 13.3%, rgba(52, 166, 6, 0.873744) 21.04%, rgba(52, 166, 6, 0.873744) 28.78%, rgba(52, 166, 6, 0.846641) 34.97%, rgba(52, 166, 6, 0.812761) 42.71%, rgba(52, 166, 6, 0.79603) 51.49%, rgba(52, 166, 6, 0.77733) 61.29%, rgba(52, 166, 6, 0.667143) 71.1%, rgba(74, 170, 7, 0.647137) 79.48%, rgba(82, 171, 8, 0.639579) 83.48%, rgba(90, 172, 8, 0.632125) 87.56%, rgba(99, 174, 9, 0.624464) 90.2%, rgba(124, 178, 10, 0.601622) 93.76%, rgba(148, 182, 11, 0.58) 97.09%, rgba(148, 182, 11, 0.58) 98.62%);
			}
	}
	a{
		&.c-btn_dowload{
			padding-left: 40px;
			&::after{
				left: 10px;
				width: 24px;
				height: 24px;
				content: url('./../../assets/images/arhive_load_duotone.svg');
			}
		}
	}

}
.text-center{
	text-align: center;
}