/*------------------------------------------------------------
	Slider
------------------------------------------------------------*/
.owl-course{
	.item{
		position: relative;
	}
	.content{
		position: absolute;
		left: 5%;
		right: 5%;
		top: 25%;
		bottom: 25%;
		text-align: center;
		@include sp{
			top: 5%;
			bottom: 5%;
		}
		a{
			background-color: $color-main;
			color: white;
			text-decoration: none;
			padding: 5px 20px;
			border-radius: 10px;
			font-size: 1.8rem;
			margin-bottom: 2rem;
			display: block;
			width: fit-content;
			margin: 0 auto 2rem;
			@include sp{
				font-size: 1.3rem;
				margin-bottom: .5rem;
				padding: 3px 10px;
			}
		}
		p{
			color: $color-main;
			font-weight: 700;
			font-size: 3rem;
			margin-bottom: 3.5rem;
			&.brand{
				font-size: 5rem;
			}
			@include sp{
				font-size: 1.5rem;
				margin-bottom: .5rem;
				&.brand{
					font-size: 3rem;
				}
			}
		}
	}
}
