
.tutor-wrap {
	margin: 3rem auto;
}
.m-cart {
	position: relative;
	display: none;
	.widget_shopping_cart_content {
		position: absolute;
		top: 17px;
		width: 300px;
		right: 0;
		padding: 15px;
		background-color: #eff1f7;
		z-index: 10;
		color: #34A606;
	}
	.woocommerce-mini-cart__empty-message {
		color: var(--tutor-color-primary);
	}
	.size-woocommerce_thumbnail {
		width: 70px;
		height: auto;
		font-size: 1.3rem;
		padding-right: 1rem;
	}
	.woocommerce-mini-cart__buttons {
		display: flex;
		justify-content: space-between;
		a {
			background-color: #34A606;
			color: #ffff;
			padding: 5px 10px 5px;
			font-size: 1.4rem;
		}
	}
	.woocommerce-mini-cart__total {
		margin: 2rem 0;
		font-size: 1.5rem;
	}
	.woocommerce-mini-cart-item {
		font-size: 1.4rem;
		margin: 10px 0;
		display: inline-block;
		img {
			float: left !important;
		}
	}
	&.js-active {
		display: block;
	}
	a {
		color: #34A606;
	}
}
.woocommerce-placeholder {
	width: 70px;
	height: auto;
	font-size: 1.3rem;
	padding-right: 1rem;
}
.m-cart_num {
	position: absolute;
	z-index: 5;
	background-color: red;
	color: #ffff;
	font-size: 1.1rem;
	padding: 2px 5px;
	border-radius: 50%;
	right: -6px;
}
.woocommerce {
	.woocommerce-cart-form {
		.shop_table {
			border: 0;
			border-top: 2px solid #34A606;
			border-radius: 0;
			width: 70%;
			@include sp{
				width: 100%;
			}
			td {
				border: 0;
				border-top: 2px solid #34A606;
				border-radius: 0;
				&::before{
					@include sp{
						content: '';
					}
				}
				@include sp{
					text-align: left;
					padding: 9px 0;
					border-top: 0;
				}
			}
			thead {
				tr {
					th {
						font-size: 1.7rem;
						padding-top: 2rem;
						padding-bottom: 2rem;
					}
					th.product-subtotal {
						text-align: right;
					}
				}
			}
			tbody {
				.product-subtotal {
					text-align: right;
				}
			}
		}
	}
	a.button.alt {
		background-color: #34a606;
		display: block;
		max-width: 250px;
    margin: 0 auto;
    border-radius: 20px;
	}
}
.product-content {
	display: flex;
	align-items: flex-start;
	.num {
		padding: 0 40px;
		@include sp{
			padding: 0 10px;
		}
	}
	.product-name {
		padding-left: 20px;
		font-size: 1.7rem;
		@include sp{
			padding-left: 10px;
			width: calc(100% - 100px);
			text-align: left;
			font-size: 1.4rem;
		}
		a{
			text-decoration: none;
			color: black;
		}
	}
	.product-author {
		color: #595959;
	}
}
.woocommerce-cart-form {
	.cart_item {
		.product-content {
			.image {
				img {
					width: 120px;
					@include sp{
						width: 70px;
					}
				}
			}
			@include sp{
				@include flex;
			}
		}
	}
}
.flex_between {
	display: flex;
	justify-content: space-between;
}
.woocommerce{
	&-flex {
		@include flex;
		width: 100%;
	}
	&-cart{
		&-flex {
			width: calc(30% - 40px);
			margin: 0 20px 4rem;
			@include sp{
				width: 100%;
			}
		}
		&-box {
			width: 100%;
			text-align: center;
			padding: 4rem 3.4rem;
			background: #FFFFFF;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 20px;
			margin: 0 0 4rem;
			font-size: 2rem;
		}
	}
}

