
.tutor-wrap {
	margin: 3rem auto;
	img{
		width: auto;
	}
	.tutor-fs-6 {
    font-size: 1.2rem;
	}
}
.tutor-login-wrap{
	border: 4px solid #34A606;
	border-radius: 20px;
	margin: 10rem auto;
	@include sp{
		padding: 20px 15px;
		margin: 10rem 15px;
	}
}
#tutor-registration-from{
	max-width: 720px;
	margin: 0 auto;
	border: 4px solid #34A606;
	border-radius: 20px;
	margin: 2rem auto 10rem;
	padding: 40px 55px;
	@include sp{
		padding: 20px 15px;
	}
	.tutor-form-row:nth-of-type(1){
		@include min(768px){
			@include flex;
			.tutor-form-col-6{
				width: calc(50% - 20px);
				margin: 10px;
			}
		}
	}
}
.tutor-denied-content-wrapper{
	img{
		width: auto;
	}
}
.m-cart {
	position: relative;
	display: none;
	.widget_shopping_cart_content {
		position: absolute;
		top: 17px;
		width: 300px;
		right: 0;
		padding: 15px;
		background-color: #eff1f7;
		z-index: 10;
		color: #34A606;
	}
	.woocommerce-mini-cart__empty-message {
		color: var(--tutor-color-primary);
	}
	.size-woocommerce_thumbnail {
		width: 70px;
		height: auto;
		font-size: 1.3rem;
		padding-right: 1rem;
	}
	.woocommerce-mini-cart__buttons {
		display: flex;
		justify-content: space-between;
		a {
			background-color: #34A606;
			color: #ffff;
			padding: 5px 10px 5px;
			font-size: 1.4rem;
			border-radius: 10px;
			&:hover{
				color: white;
			}
		}
	}
	.woocommerce-mini-cart__total {
		margin: 2rem 0;
		font-size: 1.5rem;
	}
	.woocommerce-mini-cart-item {
		font-size: 1.4rem;
		margin: 10px 0;
		display: inline-block;
		img {
			float: left !important;
		}
	}
	&.js-active {
		display: block;
	}
	a {
		color: #34A606;
	}
}
.woocommerce-placeholder {
	width: 70px;
	height: auto;
	font-size: 1.3rem;
	padding-right: 1rem;
}
.m-cart_num {
	position: absolute;
	z-index: 5;
	background-color: red;
	color: #ffff;
	font-size: 1.1rem;
	padding: 2px 5px;
	border-radius: 50%;
	right: -6px;
}
.woocommerce {
	.woocommerce-cart-form {
		.shop_table {
			border: 0;
			border-top: 2px solid #34A606;
			border-radius: 0;
			width: 70%;
			@include sp{
				width: 100%;
			}
			td {
				border: 0;
				border-radius: 0;
				&::before{
					@include sp{
						content: '';
					}
				}
				@include sp{
					text-align: left;
					padding: 9px 0;
					border-top: 0;
				}
			}
			thead {
				tr {
					th {
						font-size: 1.7rem;
						padding-top: 2rem;
						padding-bottom: 2rem;
					}
					th.product-subtotal {
						text-align: right;
					}
				}
			}
			tbody {
				.product-subtotal {
					text-align: right;
				}
			}
		}
	}
	a.button.alt {
		background-color: #34a606;
		display: block;
		max-width: 250px;
    margin: 0 auto;
    border-radius: 20px;
	}
	&-form {
		.input-text{
			display: block;
			width: 100%;
			outline: none;
			border-radius: 6px;
			background-color: var(--tutor-color-white);
			box-sizing: border-box;
			color: var(--tutor-color-black);
			padding: 8px 16px;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.4;
			height: auto;
			border: 1px solid var(--tutor-border-color);
			box-shadow: none;
			transition: color 200ms ease-in-out, background-color 200ms ease-in-out, border-color 200ms ease-in-out;
		}
	}
}
.product-content {
	display: flex;
	align-items: center;
	.num {
		padding: 0 40px;
		@include sp{
			padding: 0 10px;
		}
	}
	.product-name {
		padding-left: 20px;
		font-size: 1.7rem;
		@include sp{
			padding-left: 10px;
			width: calc(100% - 100px);
			text-align: left;
			font-size: 1.4rem;
		}
		a{
			text-decoration: none;
			color: black;
		}
	}
	.product-author {
		color: #595959;
	}
}
.woocommerce-cart-form {
	.cart_item {
		.product-content {
			.image {
				img {
					width: 120px;
					@include sp{
						width: 70px;
					}
				}
			}
			@include sp{
				@include flex;
			}
		}
	}
}
.flex_between {
	display: flex;
	justify-content: space-between;
}
.woocommerce{
	&-flex {
		@include flex;
		width: 100%;
	}
	&-cart{
		&-flex {
			width: calc(30% - 40px);
			margin: 0 20px 4rem;
			@include sp{
				width: 100%;
			}
		}
		&-box {
			width: 100%;
			text-align: center;
			padding: 4rem 3.4rem;
			background: #FFFFFF;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 20px;
			margin: 0 0 4rem;
			font-size: 2rem;
		}
	}
}
.tutor-col-xl-4{
	position: relative;
	.tutor-single-course-sidebar{
		position: sticky;
		top: 0;
	}
}
.ebook_excerpt{
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.c-content{
	padding: 2rem 3rem;
	margin: auto;
	@include sp{
		padding: 2rem 1rem;
	}
	p {
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 1.3;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	h2{
		font-size: 2rem;
		line-height: 1.7em;
	}
	h3 {
		font-size: 1.7rem;
		font-weight: 500;
		line-height: 1.42em;
	}
	img{
		padding: 2rem;
	}
}
.blog_video{
	position: relative;
	li{
	    cursor: pointer;
	}
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.modal-content {
	position: relative;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	max-width: 700px;
	top: 10%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}
.tutor-star-rating-group , .tutor-ratings{
    display: none;
}
.d-none{
	display: none;
}